// Menu settings
$ds-menu-height: 60px !default;
$ds-menu-background: yellow !default;
$ds-menu-item-padding: 10px 30px !default;

// Typography
$ds-menu-item-font-color: black !default;
$ds-menu-item-font-size: 14px;

// Display More Button
$ds-menu-button-font-color: $ds-menu-item-font-color !default;
$ds-menu-button-border-left-separator: true !default;
$ds-menu-button-border: 1px solid black !default;
$ds-menu-button-padding: 5px 10px !default;